In [3]:
!ls ../../data/1_bronce

historico_dolar.xlsx

In [4]:
import pandas as pd

#from prophet import Prophet

In [7]:
archivo01 = "../../data/1_bronce/historico_dolar.xlsx"

In [8]:
data01 = pd.read_excel(archivo01, engine="openpyxl")
data01.shape

(12033, 2)

In [9]:
data01.dtypes

fecha    datetime64[ns]
valor           float64
dtype: object

In [10]:
data01.head(1)

       fecha   valor
0 1991-11-27  693.32